{% extends "default" %}

{% block head_meta %}
  <meta name="robots" content="index, follow">
{% endblock %}

{% block content_wrapper %}
  <article class="hentry post">
    <header>
      <h2 class="entry-title">{{ page.title }}</h2>

      <p class="meta">
        By
        <span class="author vcard">
          <a class="url fn n" href="http://naxoc.net">
            <span class="given-name">Camilla</span>
            <span class="family-name">Krag Jensen</span>
          </a>
          <span class="nickname">naxoc</span>
        </span>
      |
        <time class="published" datetime="{{ page.date|date('c') }}">
          <a href="{{ site.url }}{{ page.url }}" rel="bookmark">
            <span class='month'>{{ page.date|date('F') }}</span>
            <span class='day'>{{ page.date|date('jS') }}</span>
            <span class='year'>{{ page.date|date('Y') }}</span>
          </a>
        </time>
        <time class="updated" datetime="{{ page.date|date('c') }}"></time>
      </p>

      {% if page.tags %}
        <p class="tags">
          {% for tag in page.tags %}
            <a class="tag-color tag-color-{{ loop.index }}" href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}" rel="tag">{{ tag }}</a>{% if not loop.last %} {% endif %}
          {% endfor %}
        </p>
      {% endif %}
    </header>

    <div class="entry-content content">
      {{ page.blocks.content|raw }}
    </div>

    {% if page.previous_post or page.next_post %}
      <nav class="article">
        <ul class="previous-next">
          {% if page.next_post %}
            <li class="next">
              <a href="{{ page.next_post.url }}" title="{{ page.next_post.title }}"><span class="title">{{ page.next_post.title }}</span><span class="arrow arrow-east"></span></a>
            </li>
          {% endif %}
          {% if page.previous_post %}
            <li class="previous">
              <a href="{{ page.previous_post.url }}" title="{{ page.previous_post.title }}"><span class="arrow arrow-west"></span><span class="title">{{ page.previous_post.title }}</span></a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}

    <div id="disqus_thread"></div>

  </article>
{% endblock %}
