// Base 16 Hopscotch
// Colors by Jan T. Sott
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #322931;
$base16-color-01: #433b42;
$base16-color-02: #5c545b;
$base16-color-03: #797379;
$base16-color-04: #989498;
$base16-color-05: #b9b5b8;
$base16-color-06: #d5d3d5;
$base16-color-07: #ffffff;
$base16-color-08: #dd464c;
$base16-color-09: #fd8b19;
$base16-color-0a: #fdcc59;
$base16-color-0b: #8fc13e;
$base16-color-0c: #149b93;
$base16-color-0d: #1290bf;
$base16-color-0e: #c85e7c;
$base16-color-0f: #b33508;
