// Base 16 Chalk
// Colors by Chris Kempson (http://chriskempson.com)
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #151515;
$base16-color-01: #202020;
$base16-color-02: #303030;
$base16-color-03: #505050;
$base16-color-04: #b0b0b0;
$base16-color-05: #d0d0d0;
$base16-color-06: #e0e0e0;
$base16-color-07: #f5f5f5;
$base16-color-08: #fb9fb1;
$base16-color-09: #eda987;
$base16-color-0a: #ddb26f;
$base16-color-0b: #acc267;
$base16-color-0c: #12cfc0;
$base16-color-0d: #6fc2ef;
$base16-color-0e: #e1a3ee;
$base16-color-0f: #deaf8f;
