// Base 16 Atelier Dune
// Colors by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/dune)
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #20201d;
$base16-color-01: #292824;
$base16-color-02: #6e6b5e;
$base16-color-03: #7d7a68;
$base16-color-04: #999580;
$base16-color-05: #a6a28c;
$base16-color-06: #e8e4cf;
$base16-color-07: #fefbec;
$base16-color-08: #d73737;
$base16-color-09: #b65611;
$base16-color-0a: #cfb017;
$base16-color-0b: #60ac39;
$base16-color-0c: #1fad83;
$base16-color-0d: #6684e1;
$base16-color-0e: #b854d4;
$base16-color-0f: #d43552;
