// Base 16 Green Screen
// Colors by Chris Kempson (http://chriskempson.com)
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #001100;
$base16-color-01: #003300;
$base16-color-02: #005500;
$base16-color-03: #007700;
$base16-color-04: #009900;
$base16-color-05: #00bb00;
$base16-color-06: #00dd00;
$base16-color-07: #00ff00;
$base16-color-08: #007700;
$base16-color-09: #009900;
$base16-color-0a: #007700;
$base16-color-0b: #00bb00;
$base16-color-0c: #005500;
$base16-color-0d: #009900;
$base16-color-0e: #00bb00;
$base16-color-0f: #005500;
