// Base 16 Atelier Seaside
// Colors by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/seaside/)
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #131513;
$base16-color-01: #242924;
$base16-color-02: #5e6e5e;
$base16-color-03: #687d68;
$base16-color-04: #809980;
$base16-color-05: #8ca68c;
$base16-color-06: #cfe8cf;
$base16-color-07: #f0fff0;
$base16-color-08: #e6193c;
$base16-color-09: #87711d;
$base16-color-0a: #c3c322;
$base16-color-0b: #29a329;
$base16-color-0c: #1999b3;
$base16-color-0d: #3d62f5;
$base16-color-0e: #ad2bee;
$base16-color-0f: #e619c3;
