// Base 16 Twilight
// Colors by David Hart (http://hart-dev.com)
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #1e1e1e;
$base16-color-01: #323537;
$base16-color-02: #464b50;
$base16-color-03: #5f5a60;
$base16-color-04: #838184;
$base16-color-05: #a7a7a7;
$base16-color-06: #c3c3c3;
$base16-color-07: #ffffff;
$base16-color-08: #cf6a4c;
$base16-color-09: #cda869;
$base16-color-0a: #f9ee98;
$base16-color-0b: #8f9d6a;
$base16-color-0c: #afc4db;
$base16-color-0d: #7587a6;
$base16-color-0e: #9b859d;
$base16-color-0f: #9b703f;
