// Base 16 Default
// Colors by Chris Kempson (http://chriskempson.com)
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #181818;
$base16-color-01: #282828;
$base16-color-02: #383838;
$base16-color-03: #585858;
$base16-color-04: #b8b8b8;
$base16-color-05: #d8d8d8;
$base16-color-06: #e8e8e8;
$base16-color-07: #f8f8f8;
$base16-color-08: #ab4642;
$base16-color-09: #dc9656;
$base16-color-0a: #f7ca88;
$base16-color-0b: #a1b56c;
$base16-color-0c: #86c1b9;
$base16-color-0d: #7cafc2;
$base16-color-0e: #ba8baf;
$base16-color-0f: #a16946;
