// Base 16 Isotope
// Colors by Jan T. Sott
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #000000;
$base16-color-01: #404040;
$base16-color-02: #606060;
$base16-color-03: #808080;
$base16-color-04: #c0c0c0;
$base16-color-05: #d0d0d0;
$base16-color-06: #e0e0e0;
$base16-color-07: #ffffff;
$base16-color-08: #ff0000;
$base16-color-09: #ff9900;
$base16-color-0a: #ff0099;
$base16-color-0b: #33ff00;
$base16-color-0c: #00ffff;
$base16-color-0d: #0066ff;
$base16-color-0e: #cc00ff;
$base16-color-0f: #3300ff;
