// Base 16 harmonic16
// Colors by Jannik Siebert (https://github.com/janniks)
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #0b1c2c;
$base16-color-01: #223b54;
$base16-color-02: #405c79;
$base16-color-03: #627e99;
$base16-color-04: #aabcce;
$base16-color-05: #cbd6e2;
$base16-color-06: #e5ebf1;
$base16-color-07: #f7f9fb;
$base16-color-08: #bf8b56;
$base16-color-09: #bfbf56;
$base16-color-0a: #8bbf56;
$base16-color-0b: #56bf8b;
$base16-color-0c: #568bbf;
$base16-color-0d: #8b56bf;
$base16-color-0e: #bf568b;
$base16-color-0f: #bf5656;
