// Base 16 Eighties
// Colors by Chris Kempson (http://chriskempson.com)
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #2d2d2d;
$base16-color-01: #393939;
$base16-color-02: #515151;
$base16-color-03: #747369;
$base16-color-04: #a09f93;
$base16-color-05: #d3d0c8;
$base16-color-06: #e8e6df;
$base16-color-07: #f2f0ec;
$base16-color-08: #f2777a;
$base16-color-09: #f99157;
$base16-color-0a: #ffcc66;
$base16-color-0b: #99cc99;
$base16-color-0c: #66cccc;
$base16-color-0d: #6699cc;
$base16-color-0e: #cc99cc;
$base16-color-0f: #d27b53;
