// Base 16 Mocha
// Colors by Chris Kempson (http://chriskempson.com)
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #3B3228;
$base16-color-01: #534636;
$base16-color-02: #645240;
$base16-color-03: #7e705a;
$base16-color-04: #b8afad;
$base16-color-05: #d0c8c6;
$base16-color-06: #e9e1dd;
$base16-color-07: #f5eeeb;
$base16-color-08: #cb6077;
$base16-color-09: #d28b71;
$base16-color-0a: #f4bc87;
$base16-color-0b: #beb55b;
$base16-color-0c: #7bbda4;
$base16-color-0d: #8ab3b5;
$base16-color-0e: #a89bb9;
$base16-color-0f: #bb9584;
