// Base 16 Monokai
// Colors by Wimer Hazenberg (http://www.monokai.nl)
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #272822;
$base16-color-01: #383830;
$base16-color-02: #49483e;
$base16-color-03: #75715e;
$base16-color-04: #a59f85;
$base16-color-05: #f8f8f2;
$base16-color-06: #f5f4f1;
$base16-color-07: #f9f8f5;
$base16-color-08: #f92672;
$base16-color-09: #fd971f;
$base16-color-0a: #f4bf75;
$base16-color-0b: #a6e22e;
$base16-color-0c: #a1efe4;
$base16-color-0d: #66d9ef;
$base16-color-0e: #ae81ff;
$base16-color-0f: #cc6633;
