// Base 16 Pop
// Colors by Chris Kempson (http://chriskempson.com)
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #000000;
$base16-color-01: #202020;
$base16-color-02: #303030;
$base16-color-03: #505050;
$base16-color-04: #b0b0b0;
$base16-color-05: #d0d0d0;
$base16-color-06: #e0e0e0;
$base16-color-07: #ffffff;
$base16-color-08: #eb008a;
$base16-color-09: #f29333;
$base16-color-0a: #f8ca12;
$base16-color-0b: #37b349;
$base16-color-0c: #00aabb;
$base16-color-0d: #0e5a94;
$base16-color-0e: #b31e8d;
$base16-color-0f: #7a2d00;
