// Base 16 Atelier Lakeside
// Colors by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/lakeside/)
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #161b1d;
$base16-color-01: #1f292e;
$base16-color-02: #516d7b;
$base16-color-03: #5a7b8c;
$base16-color-04: #7195a8;
$base16-color-05: #7ea2b4;
$base16-color-06: #c1e4f6;
$base16-color-07: #ebf8ff;
$base16-color-08: #d22d72;
$base16-color-09: #935c25;
$base16-color-0a: #8a8a0f;
$base16-color-0b: #568c3b;
$base16-color-0c: #2d8f6f;
$base16-color-0d: #257fad;
$base16-color-0e: #5d5db1;
$base16-color-0f: #b72dd2;
