// Base 16 Tomorrow
// Colors by Chris Kempson (http://chriskempson.com)
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #1d1f21;
$base16-color-01: #282a2e;
$base16-color-02: #373b41;
$base16-color-03: #969896;
$base16-color-04: #b4b7b4;
$base16-color-05: #c5c8c6;
$base16-color-06: #e0e0e0;
$base16-color-07: #ffffff;
$base16-color-08: #cc6666;
$base16-color-09: #de935f;
$base16-color-0a: #f0c674;
$base16-color-0b: #b5bd68;
$base16-color-0c: #8abeb7;
$base16-color-0d: #81a2be;
$base16-color-0e: #b294bb;
$base16-color-0f: #a3685a;
