// Base 16 Brewer
// Colors by Timothée Poisot (http://github.com/tpoisot)
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #0c0d0e;
$base16-color-01: #2e2f30;
$base16-color-02: #515253;
$base16-color-03: #737475;
$base16-color-04: #959697;
$base16-color-05: #b7b8b9;
$base16-color-06: #dadbdc;
$base16-color-07: #fcfdfe;
$base16-color-08: #e31a1c;
$base16-color-09: #e6550d;
$base16-color-0a: #dca060;
$base16-color-0b: #31a354;
$base16-color-0c: #80b1d3;
$base16-color-0d: #3182bd;
$base16-color-0e: #756bb1;
$base16-color-0f: #b15928;
