// Base 16 Embers
// Colors by Jannik Siebert (https://github.com/janniks)
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #16130F;
$base16-color-01: #2C2620;
$base16-color-02: #433B32;
$base16-color-03: #5A5047;
$base16-color-04: #8A8075;
$base16-color-05: #A39A90;
$base16-color-06: #BEB6AE;
$base16-color-07: #DBD6D1;
$base16-color-08: #826D57;
$base16-color-09: #828257;
$base16-color-0a: #6D8257;
$base16-color-0b: #57826D;
$base16-color-0c: #576D82;
$base16-color-0d: #6D5782;
$base16-color-0e: #82576D;
$base16-color-0f: #825757;
