// Base 16 Flat
// Colors by Chris Kempson (http://chriskempson.com)
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #2C3E50;
$base16-color-01: #34495E;
$base16-color-02: #7F8C8D;
$base16-color-03: #95A5A6;
$base16-color-04: #BDC3C7;
$base16-color-05: #e0e0e0;
$base16-color-06: #f5f5f5;
$base16-color-07: #ECF0F1;
$base16-color-08: #E74C3C;
$base16-color-09: #E67E22;
$base16-color-0a: #F1C40F;
$base16-color-0b: #2ECC71;
$base16-color-0c: #1ABC9C;
$base16-color-0d: #3498DB;
$base16-color-0e: #9B59B6;
$base16-color-0f: #be643c;
