// Base 16 Google
// Colors by Seth Wright (http://sethawright.com)
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #1d1f21;
$base16-color-01: #282a2e;
$base16-color-02: #373b41;
$base16-color-03: #969896;
$base16-color-04: #b4b7b4;
$base16-color-05: #c5c8c6;
$base16-color-06: #e0e0e0;
$base16-color-07: #ffffff;
$base16-color-08: #CC342B;
$base16-color-09: #F96A38;
$base16-color-0a: #FBA922;
$base16-color-0b: #198844;
$base16-color-0c: #3971ED;
$base16-color-0d: #3971ED;
$base16-color-0e: #A36AC7;
$base16-color-0f: #3971ED;
