// Base 16 Bespin
// Colors by Jan T. Sott
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #28211c;
$base16-color-01: #36312e;
$base16-color-02: #5e5d5c;
$base16-color-03: #666666;
$base16-color-04: #797977;
$base16-color-05: #8a8986;
$base16-color-06: #9d9b97;
$base16-color-07: #baae9e;
$base16-color-08: #cf6a4c;
$base16-color-09: #cf7d34;
$base16-color-0a: #f9ee98;
$base16-color-0b: #54be0d;
$base16-color-0c: #afc4db;
$base16-color-0d: #5ea6ea;
$base16-color-0e: #9b859d;
$base16-color-0f: #937121;
