// Base 16 Atelier Forest
// Colors by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/forest)
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #1b1918;
$base16-color-01: #2c2421;
$base16-color-02: #68615e;
$base16-color-03: #766e6b;
$base16-color-04: #9c9491;
$base16-color-05: #a8a19f;
$base16-color-06: #e6e2e0;
$base16-color-07: #f1efee;
$base16-color-08: #f22c40;
$base16-color-09: #df5320;
$base16-color-0a: #d5911a;
$base16-color-0b: #5ab738;
$base16-color-0c: #00ad9c;
$base16-color-0d: #407ee7;
$base16-color-0e: #6666ea;
$base16-color-0f: #c33ff3;
