// Base 16 Atelier Heath
// Colors by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/heath)
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #1b181b;
$base16-color-01: #292329;
$base16-color-02: #695d69;
$base16-color-03: #776977;
$base16-color-04: #9e8f9e;
$base16-color-05: #ab9bab;
$base16-color-06: #d8cad8;
$base16-color-07: #f7f3f7;
$base16-color-08: #ca402b;
$base16-color-09: #a65926;
$base16-color-0a: #bb8a35;
$base16-color-0b: #379a37;
$base16-color-0c: #159393;
$base16-color-0d: #516aec;
$base16-color-0e: #7b59c0;
$base16-color-0f: #cc33cc;
