// Base 16 Railscasts
// Colors by Ryan Bates (http://railscasts.com)
// Built with: https://github.com/chriskempson/base16-builder
$base16-color-00: #2b2b2b;
$base16-color-01: #272935;
$base16-color-02: #3a4055;
$base16-color-03: #5a647e;
$base16-color-04: #d4cfc9;
$base16-color-05: #e6e1dc;
$base16-color-06: #f4f1ed;
$base16-color-07: #f9f7f3;
$base16-color-08: #da4939;
$base16-color-09: #cc7833;
$base16-color-0a: #ffc66d;
$base16-color-0b: #a5c261;
$base16-color-0c: #519f50;
$base16-color-0d: #6d9cbe;
$base16-color-0e: #b6b3eb;
$base16-color-0f: #bc9458;
