// This is the light color scheme from base16 called London Tube
// http://chriskempson.github.io/base16/#londontube
$base16-color-00: #231f20;
$base16-color-01: #1c3f95;
$base16-color-02: #5a5758;
$base16-color-03: #737171;
$base16-color-04: #959ca1;
$base16-color-05: #d9d8d8;
$base16-color-06: #e7e7e8;
$base16-color-07: #ffffff;
$base16-color-08: #ee2e24;
$base16-color-09: #f386a1;
$base16-color-0a: #ffd204;
$base16-color-0b: #00853e;
$base16-color-0c: #85cebc;
$base16-color-0d: #009ddc;
$base16-color-0e: #98005d;
$base16-color-0f: #b06110;
