
$base-font-px: 18px;
$base-font-size: 1em;
$base-scale: $perfect-fourth;

$scale-4: modular-scale($base-font-size, -4, $base-scale);
$scale-3: modular-scale($base-font-size, -3, $base-scale);
$scale-2: modular-scale($base-font-size, -2, $base-scale);
$scale-1: modular-scale($base-font-size, -1, $base-scale);
$scale:   modular-scale($base-font-size, 0, $base-scale);
$scale1:  modular-scale($base-font-size, 1, $base-scale);
$scale2:  modular-scale($base-font-size, 2, $base-scale);
$scale3:  modular-scale($base-font-size, 3, $base-scale);
$scale4:  modular-scale($base-font-size, 4, $base-scale);
$scale5:  modular-scale($base-font-size, 5, $base-scale);
$scale6:  modular-scale($base-font-size, 6, $base-scale);
$scale7:  modular-scale($base-font-size, 7, $base-scale);
$scale8:  modular-scale($base-font-size, 8, $base-scale);
$scale9:  modular-scale($base-font-size, 9, $base-scale);
$scale10: modular-scale($base-font-size, 10, $base-scale);
$scale11: modular-scale($base-font-size, 11, $base-scale);
$scale12: modular-scale($base-font-size, 12, $base-scale);

// http://chriskempson.github.io/base16/#paraiso
$color-base-00: #2f1e2e;
$color-base-01: #41323f;
$color-base-02: #4f424c;
$color-base-03: #776e71;
$color-base-04: #8d8687;
$color-base-05: #a39e9b;
$color-base-06: #b9b6b0;
$color-base-07: #e7e9db;
$color-base-08: #ef6155;
$color-base-09: #f99b15;
$color-base-0a: #fec418;
$color-base-0b: #48b685;
$color-base-0c: #5bc4bf;
$color-base-0d: #06b6ef;
$color-base-0e: #815ba4;
$color-base-0f: #e96ba8;

$color-kinda-white: lighten($color-base-07, 8%);
