
$base-font-px: 18px;
$base-font-size: 1em;
$base-scale: $perfect-fourth;

$scale-4: modular-scale($base-font-size, -4, $base-scale);
$scale-3: modular-scale($base-font-size, -3, $base-scale);
$scale-2: modular-scale($base-font-size, -2, $base-scale);
$scale-1: modular-scale($base-font-size, -1, $base-scale);
$scale:   modular-scale($base-font-size, 0, $base-scale);
$scale1:  modular-scale($base-font-size, 1, $base-scale);
$scale2:  modular-scale($base-font-size, 2, $base-scale);
$scale3:  modular-scale($base-font-size, 3, $base-scale);
$scale4:  modular-scale($base-font-size, 4, $base-scale);
$scale5:  modular-scale($base-font-size, 5, $base-scale);
$scale6:  modular-scale($base-font-size, 6, $base-scale);
$scale7:  modular-scale($base-font-size, 7, $base-scale);
$scale8:  modular-scale($base-font-size, 8, $base-scale);
$scale9:  modular-scale($base-font-size, 9, $base-scale);
$scale10: modular-scale($base-font-size, 10, $base-scale);
$scale11: modular-scale($base-font-size, 11, $base-scale);
$scale12: modular-scale($base-font-size, 12, $base-scale);

@import 'base16/base16-paraiso.scss';

$color-kinda-white: lighten($base16-color-07, 8%);
